[git]
	autoCommit = true
	autoPush = true

encryption = "age"

[age]
  identity = "~/.local/share/chezmoi/key.txt.age"
  recipient = "age16fcxn6esef87uqh62de0mlqla7qpaapfd86r37v9c980pdgsvuwsvq6wsq"

[data]
  private_ = false
