#!/bin/sh

if [ ! -f "/home/swimmingpolar/.config/chezmoi/key.txt" ]; then
    mkdir -p "/home/swimmingpolar/.config/chezmoi"
    chezmoi age decrypt --output "/home/swimmingpolar/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/home/swimmingpolar/.config/chezmoi/key.txt"
fi
